.html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Open Sans', sans-serif; /* this should be the rest of the output you got from Google fonts */
}

.heading {
  color: blue;
  width: 500px;
  border: 1px solid black;
  font-size: 60px;
  text-align: center;
}

.Opening {
    color: red;
    width: 500px;
    border: 1px solid black;
    font-size: 30px;
    text-align: left;
    line-height: 5;
}

  .middle {
      color: black;
      width: 1500px;
      border: 1px solid black;
      font-size: 60px;
      text-align: center;
}

li {
    color: blue;
    width: 500px;
    font-size: 30px;
    text-align: left;
}
